{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="body-form-reggister">
        <h1 class="text-center py-4 textoh1-form">Restablecimiento enviado - SmoothlySEO</h1>
        <div class="auth-container contenedor-registro">
            <p class="text-center">Revisa tu correo para el enlace de restablecimiento. <a href="{% url 'auth' %}" class="forgot-password">Volver al inicio de sesión</a>.</p>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/reset_pass.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}